body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    box-sizing: border-box;
    margin: 0;
}



.list {
    padding: 0;
    list-style: none;
    margin-left: 0;
}
/* main styles */
.main {
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    background-color: #FFFFFF ;
    width: 700px;
    box-shadow: 6px 6px 20px  rgba(0, 0, 0, 0.1);
    padding: 25px 80px;
}
.about {
    margin-bottom: 40px;
}
.about-position {
    display: inline-block;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #000;
    background-color: #fff;
    /* border: 4px solid #000; */
    border-radius: 16px;
    padding: 5px 20px;
   margin: 15px auto;

}
.about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.description__wrapper {
    max-width: 600px;
}
.description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
   margin: 0;

}

.first {
    margin-top: 10px;
}

.about-description {
    display: inline;
    color: #000;
    /* background-color: #777; */
    border-radius: 14px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

    /* -webkit-box-decoration-break: clone; */
}
/* project styles */
.projects {
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.projects-list {
    padding: 0;
    
}
.projects-link,  b{
    color: #000000;
    
}

.project-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project,
.project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link {
    margin-left: 10px;
}
.project-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* work styles */
.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-left: 10px;
}
.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list {
    padding: 0;
    /* margin-left: 15px; */
    list-style: none;
}
.worklist-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* education styles */
.link-goit {
    padding: 0;
    margin-right: 8px;
    display: inline-block;
}

.education {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 43px;
    margin-bottom: 10px;
}
.university, .goit {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.department {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 400px;
    font-size: 14px;
    color: #595959;
}
.photo {
    display: block;
    width: 250px;
    margin:0 auto 100px;
  border-radius: 50%;
}
.contacts {
    margin-left: 60px;
    margin-bottom: 30px;
    padding: 0;
}
.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0px;
}
.contacts__title {
    margin-left: 20px;
}
.tech-skills {
     margin-left: 80px;
}
.contact-type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 2px;
        list-style: none;
        padding:  0;
        margin-left: 20px;

    }

    .contact-list > li{
        display: flex;
        gap: 12px;
        padding: 3px 0;
       color: #A8A8A8;
    }

    .contact-list > li > a{
        text-decoration: none;
        color: #757575;
    }

    

    .contact-link {
        text-decoration: none;
    color: #A8A8A8;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;    
    }
    .tech-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 15px;
    }
    .tech-skills-item {
    color: #FB6D3A;
    }
    .tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;     
    }
    .soft-skills {
        margin-left: 80px;
   }
   .soft-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 15px;
   }
   .soft-skills-item {
    color: #FB6D3A;
    }
    .soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;     
    }
/* ================================ */
    .cover-letter {
        text-decoration: none;
        font-weight: 600;
        color: #eee0;
        position: absolute;
        top: 20px;
        left: 550px;
    }

    .header {
        padding: 60px;
        padding-right: 200px;
        display: flex;
        justify-content: space-between;
      
        height: 300px;
        background-color: #1E2939;
    }

    .cover__title {
        margin: 0;
        font-size: 70px;
        color: #eee;
    }

    .cover__contacts {
        color: #eee;
        font-size: 1.2em;
        font-weight: 600;
        list-style: none;
        
    }

    .cover__mail{
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;

    }

    .cover__photo {
        width: 200px;
        height: 200px;
        align-self: end;
    }

    .cover__main {
        padding: 60px;
       padding-right: 200px;
        
    }

    .cover__main>h3 {
        font-size: 1.2em;
    }

    .cover__main>p {
        font-size: 1.2em;
        line-height: 2;
    }

    .cover__main>span {
        display: block;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 500;
    }



